.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-style: normal;
    gap: 30px;
    min-height: 900px;
    color: white;
    background: url('../../assets/main-bg.jpg');
    flex-direction: column;
    &__greetings{
        font-size: 35px;
        letter-spacing: -2px;
    }
    span{
        color: #f15e5e;
        
    }
    &__info{
        text-align: center;
        &>p{
            font-weight: 200 ;
            max-width: 800px;
            line-height:140% ;
            font-size: 24px;
        }
    }

    &__socialweb{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 100px;
        a{
            color: white;
        }
    }
}

