<div class="wrapper" id="main-home" >
    <div class="wrapper__greetings" data-aos="fade-up" data-aos-duration="1000">
        <h1>Hello, I'm <span>Mamuka Bigvava</span></h1>
    </div>
    <div class="wrapper__info" data-aos="fade-up" data-aos-duration="1000">
        <p>I am a frontend web developer. I can provide clean code and pixel perfect design.
            I also make website more & more interactive with web animations.</p>
    </div>
    <div class="wrapper__socialweb">
        <a href=""><i class="fa-brands fa-facebook fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-github fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
    </div>
</div>