<div class="wrapper">
    <div class="wrapper__header">
        <h1>About me</h1>
    </div>
    <div class="wrapper__information">
        <div class="wrapper__info_header">
            <img src="../../assets/your_photo.jpg" alt="img">
        </div>
        <div class="wrapper__info_container">
            <h1>Hi there! I'm Mamuka Bigvava</h1>
            <h2>Angular developer</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic natus, corporis ut nesciunt, a molestias quos maxime cum veritatis, facilis doloremque incidunt nobis quo officia omnis aliquid est ad. Nostrum.</p>
            <ul>
                <li><span>Birthday</span> : <span>21/09/2001</span></li>
                <li><span>Phone</span> : <span>+123456789</span></li>
                <li><span>Email</span> : <span>example&#64;example.com</span></li>
                <li><span>From</span> : <span>Georgia, Tbilisi</span></li>
                <li><span>Language</span> : <span>Georgia, English, Russian</span></li>
            </ul>
        </div>
    </div>
</div>
