<div class="wrapper" id="about">
    <div class="wrapper__header">
        <h1>About me</h1>
    </div>
    <div class="wrapper__information">
        <div class="wrapper__info_header wrapper__info_header-img">
            <img src="../../assets/your_photo.jpg" alt="img">
        </div>
        <div class="wrapper__info_container">
            <h1>Hi there! I'm Mamuka Bigvava</h1>
            <h2>Angular developer</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic natus, corporis ut nesciunt, a molestias quos maxime cum veritatis, facilis doloremque incidunt nobis quo officia omnis aliquid est ad. Nostrum.</p>
            <ul class="wrapper__list">
                <li class="wrapper__list-item"><span>Birthday</span>: 21/09/2001</li>
                <li class="wrapper__list-item"><span>Phone</span>: +123456789</li>
                <li class="wrapper__list-item"><span>Email</span>: example&#64;example.com</li>
                <li class="wrapper__list-item"><span>From</span>: Georgia, Tbilisi</li>
                <li class="wrapper__list-item"><span>Language</span>: Georgia, English, Russian</li>
            </ul>
        </div>
    </div>
</div>
