<div class="wrapper" id="contacts">
    <div class="wrapper__header">
        
    </div>
    <div class="wrapper__form">
        <div class="wrapper__form__form">
            <h1>Contact me</h1>
            <form>
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email">
                <input type="text" placeholder="Your Subject">
                <textarea placeholder="Describe yourself here..."> </textarea>
                <button>Contact</button>
            </form>
        </div>
        <div class="wrapper__form__social">
            <h1>Contact Info</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto dolorem distinctio consectetur est laborum ducimus eos magnam perspiciatis</p>
            <div class="mail">
                <div class="mail-icon">
                    <i class="fa-regular fa-envelope fa-xl"></i>
                </div>
                <div class="mail-info">
                    <h3>Email</h3>
                    <div class="mail-links" *ngFor="let link of emailAdresses">
                        <a href="">{{link}}</a>
                    </div>
                </div>
                
            </div>
            <div class="mail">
                <div class="mail-icon">
                    <i class="fa-solid fa-phone-volume fa-xl"></i>
                </div>
                <div class="mail-info">
                    <h3>Phone</h3>
                    <div class="mail-links" *ngFor="let phone of phones">
                        <a href="">{{phone}}</a>
                    </div>
                </div>
                
            </div>
            <div class="mail">
                <div class="mail-icon">
                    <i class="fa-solid fa-location-dot fa-xl"></i>
                </div>
                <div class="mail-info">
                    <h3>Address</h3>
                    <div class="mail-links" *ngFor="let address of addesses">
                        <a href="">{{address}}</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>