.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: normal;
    background-color: #070d1b;
    color: white;
    height: 700px;
    flex-direction: column;
    gap: 100px;
    
    &__header{
        color: #f15e5e;
    }
    &__form{
        
        h1{
            color: #f15e5e;
        }
        display: flex;
        justify-content: left;
        flex-direction: row;
        gap: 100px;
        &__form{
            width: 500px;
            display: flex;
            gap: 30px;
            flex-direction: column;
            form{

                display: flex;
                justify-content: left;
                flex-direction: column;
                gap: 30px;
                input{
                    background-color: #070d1b;
                    color: white;
                    width: 100%;
                    max-width: 450px;
                    padding: 20px 10px;
                    border-radius: 5px;
                    border: 1px solid #a9adb8;
                    outline: none;

                    font-size:14px;
                    font-weight: 600;
                    &:focus{
                        border: 1px solid #f15e5e;
                    }
                }
                button{
                    width: 200px;
                    color: white;
                    background-color: #f15e5e;
                    border: none;
                    border-radius: 6px;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 800;
                    height: 50px;
                    &:hover{
                        cursor: pointer;
                    }
                }
   

                textarea{
                    background-color: #070d1b;
                    color: white;
                    border-radius: 5px;
                    width: 100%;
                    max-width: 450px;
                    border: 1px solid white;
                    height: 100px;
                    outline: none;
                    resize: none;
                    padding: 5px 0px 0px 12px;
                    font-size:14px;
                    font-weight: 600;
                    &:focus{
                        border: 1px solid #f15e5e;
                    }
                }
    
            
            }
        }
        &__social{
            
                    
            font-family: 'Inter' sans-serif;
            flex-direction: column;
            display: flex;
            width: 500px;
            gap: 20px;
            h1{
                color: #f15e5e;
            }
            & > p{
                font-weight: 200;
                line-height: 140%;
            }
            .mail{
                display: flex;
                flex-direction: row;
                gap: 30px;                
                .mail-icon{
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    border: 2px solid white;
                    transition: 0.2s;
                    &:hover{
                        border: 2px solid #f15e5e;
                    }
                    
                    
                }
                .mail-links{
                    display: flex;
                    flex-direction: column;
                }
                .mail-info{
                    display: flex;
                    flex-direction: column;
                    gap:5px;
                    a{
                        font-size: 16px;
                        color: white;
                        text-decoration: none;
                        transition: 0.2s;
                        font-weight: 200;
                        transition-timing-function: ease-in;
                        &:hover{
                            color: #f15e5e;
                        }
                    }
                }
                    
            }
        }
    }
}