<div class="wrapper">
    <div class="wrapper__header">
        <h1>Contact</h1>
    </div>
    <div class="wrapper__form">
        <div class="wrapper__form__form">
            <form>
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email">
                <input type="text" placeholder="Your Subject">
                <textarea rows="4" cols="50" placeholder="Describe yourself here..."> </textarea>
            </form>
        </div>
        <div class="wrapper__form__social">

        </div>
    </div>
</div>