.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: normal;
    flex-direction: column;
    color: white;
    gap: 30px;
    background-color: #0a101e;


    &__header {
        color: #f15e5e;
        padding-bottom:80px;
        font-size:34px;
        font-weight: 600;
        letter-spacing: -0.56px;
        text-transform: uppercase;
        h1{
            font-size:34px;
        }
    }

    &__content {
        gap: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        overflow: hidden;
        width:100%;
        hr {
            height: 500px;
        }

        &__eductaion {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: left;

            &__info {
                display: flex;
                flex-direction: column;
                gap: 30px; /* Add gap between items */
            }
        }
    }

    .education__header{
        color: #f15e5e;
    }
    .education__year{
        color: #a9adb8;
    }
    .education__description{
        color: #a9adb8;
    }
}
